extends layout

block content
  h1 Team-Book-Tu
  p.lead An Oasis of Knowledge and Literacy
  hr
  .row
    .col-sm-10
      h2 Find the books you've always wanted to read, for free...
      p Join our community and interact with like-minded booklovers .......
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-10
      h2 List of books in our database
      p ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      p
        a.btn.btn-default(href='#', role='button') View details »
    